html {
  line-height: 1.15;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

[hidden] {
  display: none;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.main-header {
  height: 75px;
  background-color: #001f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 50px;
  margin-left: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.navbar {
  align-items: center;
}

.navbar > .nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: flex-end;
}

.navbar > .nav > ul > li {
  width: 100px;
  height: 30px;
  margin-left: 16px;
}

.navbar > .nav > ul > li:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.badge-avatar > .badge {
  width: 100px;
  height: 50px;
  margin-right: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.badge-avatar > .avatar {
  width: 100px;
  height: 50px;
  margin-right: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.badge-avatar > .avatar > .profile::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #001f3f;
  position: absolute;
  top: -5px;
  left: 120px;
  transform: rotate(45deg);
}

.badge-avatar > .avatar > .profile {
  position: absolute;
  right: 16px;
  top: 80px;
  background-color: #001f3f;
  padding: 8px;
  height: 100px;
}

.badge-avatar > .avatar > .profile:hover,
.badge-avatar > .avatar:hover > .profile {
  display: flex;
}

.profile-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.badge-avatar > .avatar > .profile ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 12px;
}

.badge-avatar > .avatar > .profile ul li {
  margin-top: 8px;
  cursor: pointer;
}

.badge-avatar > .avatar > .profile > .profile-links {
  flex-direction: column;
}

.badge-avatar > .avatar > .profile button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  color: #001f3f;
  background-color: #ffff;
  outline: none;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.badge-avatar > .avatar > .profile > button:hover {
  cursor: pointer;
}

.main-footer {
  width: 100%;
  height: 75px;
  bottom: 0;
  position: fixed;
  background-color: #aaaaaa;
}

.navbar > .hamburger {
  margin-left: 16px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 75px;
}

.navbar > .hamburger > span {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 3px;
}

@media screen and (min-width: 1024px),
  screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header > .logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-header > .logo {
    display: flex;
    width: 100px;
  }

  .navbar > .logo,
  .badge-avatar > .badge,
  .main-footer {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px),
  screen and (max-width: 767px) {
  .navbar > .nav {
    display: none;
  }

  .navbar > .hamburger,
  .navbar > .hamburger:hover ~ .nav,
  .navbar > .nav:hover {
    display: flex;
  }

  .navbar > .nav {
    left: 0;
    top: 60px;
    position: absolute;
    background-color: #001f3f;
    z-index: -1;
  }

  .navbar > .nav > ul {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 100px;
  }

  .navbar > .nav > ul > li {
    margin-top: 12px;
  }

  .navbar > .nav > ul > li:hover {
    cursor: pointer;
    border-bottom: 0;
  }

  .navbar > .nav > ul > li:nth-child(3) {
    margin-bottom: 12px;
  }

  .navbar > .nav > ul > li > span:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
  }
}
